<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Резюме Зейналова Георгий Владиславовича</title>
    <style>
        .crop{
            margin:.5em 10px .5em 0;
            overflow:hidden; /* this is important */
            border:1px solid #ccc;
            }
            /* input values to crop the image: top, right, bottom, left */
        .crop img{
                margin:-300px -400px -400px -400px;
            }
    </style>
</head>
<body bgcolor = "#ffc0cb" link = "#ff6c36" alink = "#ff6c36" vlink = "#ff6c36">
<center>
<tr bgcolor = "#f0eceb">
<center><font face = "arial" size = "+3"><b>Зейналов Георгий Владиславович</b></font></center>
</td>
</tr>
<tr bgcolor = "#ffc0cb">
<td width="30%" valign = "top">
<div class="crop"><img src = "http://i.imgur.com/tF55kXi.jpg"></div>
</td>
<td width="30%" valign = "top" ><p align="left">
<font face = "arial" size = "+1" color = "#ffffff"><b>Краткая информация:</b></font> <br><br>
<font face = "arial" color = "#ffffff">
Дата рождения: 27.04.1994<br>
СП: Не женат<br>
Группа: 13ИВ1б<br><br><br><br>
</font>
</td >
</tr>
<tr bgcolor = "#ffffff">
<td valign = "top">
<font face = "arial" color = "black" size = "+2">
<b> Знание языков:</b>
</font>
</td>
<td colspan = "2" valign = "top">
<font face = "arial" color = "white">
Русский, английский
</font>
</td>
</tr>
<tr bgcolor = "#ffffff">
<td valign = "top">
<font face = "arial" color = "#fffffF">
<font size = "+2">
</font>
<br><br>
</font>
</td>
</tr>
<tr bgcolor = "#f0eceb">
<td valign = "top">
<font face = "arial" color = "#F" size = "+2">
<b> Интересы:</b>
</font>
</td>
<td colspan = "2" valign = "top">
<font face = "arial" color = "#fffff">
Велосипед, музыка, фильмы
</font>
</td>
<br><br>
<td valign = "top">
<font face = "arial" color = "#F" size = "+1">
<b> Наличие домашних животных: мухи, пауки, комары. </b>
</font>
</td>
<br><br>
<td valign = "top">
<font face = "arial" color = "#F" size = "+1">
<b> Любимые фильмы: Черная роза, Разборки в маниле. </b>
</font>
</td>
</tr>
</table>
</center>
</body>
</html>